version: '3'
services:
  zookeeper:
    image: "confluentinc/cp-zookeeper:5.2.1"
    restart: always
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka1:
    image: "confluentinc/cp-kafka:5.2.1"
    depends_on:
      - zookeeper
    restart: always
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS: 1
      KAFKA_BROKER_ID: 1

  kafkaproxy:
    image: "dajudge/kafkaproxy:0.0.12"
    ports:
      - 4000:4000
    depends_on:
      - kafka1
    restart: always
    environment:
      KAFKAPROXY_HOSTNAME: localhost
      KAFKAPROXY_BASE_PORT: 4000
      KAFKAPROXY_BOOTSTRAP_SERVERS: kafka1:9092
      KAFKAPROXY_LOG_LEVEL: DEBUG